<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/header :: h"></div>
    <title>Bucket</title>
</head>
<body>
<div th:replace="fragments/menu :: m"></div>
<div class="container">
    <table align="center" class="table table-hover table-sm mt-2">
        <tr>
            <td><b>Title</b></td>
            <td><b>Amount</b></td>
            <td><b>Price</b></td>
            <td><b>Sum</b></td>
            <td></td>
        </tr>
        <tbody class="table-group-divider">
        <tr th:each="detail :${bucket.bucketDetail}">
            <td th:text="${detail.title}"></td>
            <td th:text="${detail.amount}"></td>
            <td th:text="${detail.price}"></td>
            <td th:text="${detail.sum}"></td>
            <td>
                <form th:method="DELETE" th:action="@{/bucket/products/{id}(id=${detail.productId})}">
                    <input class="btn btn-primary" type="submit" value="Remove"/></form>
            </td>
        </tr>
        </tbody>
    </table>
    <div align="center"> Сумма всех товаров: <a th:text=" ${bucket.sum}"> </a></div>
</div>
</body>
</html>